absl-py==2.3.1
acres==0.5.0
agno==1.6.4
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.8
aiohttp-retry==2.9.1
aiosignal==1.3.2
alembic==1.15.2
altair==5.5.0
amqp==5.3.1
annotated-types==0.7.0
anthropic==0.61.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
appdirs==1.4.4
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.9.1
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
asyncssh==2.21.0
atpublic==6.0.1
attrs==25.3.0
babel==2.17.0
backoff==2.2.1
bcrypt==4.3.0
beautifulsoup4==4.13.4
billiard==4.2.1
bleach==6.2.0
blinker==1.9.0
blis==1.3.0
Brotli==1.1.0
browserbase==1.4.0
build==1.3.0
cachetools==5.5.2
catalogue==2.0.10
celery==5.5.3
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
chroma-hnswlib==0.7.6
chromadb==0.5.23
ci-info==0.3.0
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpathlib==0.21.1
cohere==5.17.0
colorama==0.4.6
coloredlogs==15.0.1
comet_ml==3.49.10
comm==0.2.2
confection==0.1.5
configobj==5.0.9
configparser==7.2.0
contourpy==1.3.2
cramjam==2.10.0
crewai==0.165.1
crewai-tools==0.62.3
cryptography==45.0.3
cssselect2==0.8.0
curl_cffi==0.12.0
cycler==0.12.1
cymem==2.0.11
databricks-sdk==0.51.0
dataclasses-json==0.6.7
datasets==4.0.0
debugpy==1.8.14
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
deprecation==2.1.0
dictdiffer==0.9.0
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
docker==7.1.0
docstring_parser==0.16
dpath==2.2.0
duckduckgo_search==8.0.4
dulwich==0.22.8
durationpy==0.10
dvc==3.59.2
dvc-data==3.16.10
dvc-gs==3.0.2
dvc-http==2.32.0
dvc-objects==5.1.0
dvc-render==1.0.2
dvc-studio-client==0.21.0
dvc-task==0.40.2
ecdsa==0.19.1
embedchain==0.1.128
entrypoints==0.4
et_xmlfile==2.0.0
etelemetry==0.3.1
everett==3.1.0
executing==2.2.0
faiss-cpu==1.11.0
fastapi==0.115.14
fastavro==1.12.0
fastjsonschema==2.21.1
fastparquet==2024.11.0
ffmpy==0.6.1
filelock==3.13.1
fitz==0.0.1.dev2
Flask==3.1.1
flatbuffers==25.2.10
flatten-dict==0.4.2
flufl.lock==8.2.0
fonttools==4.58.4
fpdf==1.7.2
fqdn==1.5.1
frozendict==2.4.6
frozenlist==1.6.2
fsspec==2025.3.0
funcy==2.0
gast==0.6.0
gcsfs==2025.5.1
gemini-api==0.1.6
gitdb==4.0.12
GitPython==3.1.44
google-ai-generativelanguage==0.6.15
google-api-core==2.25.0
google-api-python-client==2.177.0
google-auth==2.39.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
google-cloud-core==2.4.3
google-cloud-storage==3.1.0
google-crc32c==1.7.1
google-genai==1.21.1
google-generativeai==0.8.5
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
gptcache==0.1.44
gradio==5.41.1
gradio_client==1.11.0
grandalf==0.8
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
graphviz==0.21
greenlet==3.2.3
griffe==1.11.0
groovy==0.1.2
grpcio==1.72.1
grpcio-status==1.71.2
gto==1.7.2
h11==0.16.0
h2==4.2.0
h5py==3.13.0
hpack==4.1.0
httpcore==1.0.9
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.34.0
humanfriendly==10.0
hydra-core==1.3.2
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.7.0
importlib_resources==6.5.2
instructor==1.10.0
ipykernel==6.29.5
ipython==9.3.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
isoduration==20.11.0
iterative-telemetry==0.0.10
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
jiter==0.10.0
joblib==1.5.1
json5==0.12.0
json_repair==0.25.2
jsonpatch==1.33
jsonpickle==4.1.1
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
keras==3.10.0
kiwisolver==1.4.8
kombu==5.5.4
kubernetes==33.1.0
lancedb==0.24.3
langchain==0.3.27
langchain-cohere==0.3.5
langchain-community==0.3.27
langchain-core==0.3.72
langchain-experimental==0.3.4
langchain-gemini==0.1.1
langchain-openai==0.2.14
langchain-text-splitters==0.3.9
langcodes==3.5.0
langgraph==0.6.6
langgraph-checkpoint==2.1.1
langgraph-prebuilt==0.6.4
langgraph-sdk==0.2.6
langsmith==0.3.45
language_data==1.3.0
libclang==18.1.1
lightgbm==4.6.0
litellm==1.74.9
looseversion==1.3.0
lxml==5.4.0
Mako==1.3.10
marisa-trie==1.2.1
Markdown==3.8
markdown-it-py==3.0.0
markdown2==2.5.4
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib==3.10.3
matplotlib-inline==0.1.7
mcp==1.12.4
mdurl==0.1.2
mem0ai==0.1.116
missingno==0.5.2
mistune==3.1.3
ml_dtypes==0.5.1
mlflow-skinny==2.22.0
mmh3==5.2.0
monotonic==1.6
mpmath==1.3.0
multidict==6.4.4
multiprocess==0.70.16
multitasking==0.0.11
murmurhash==1.0.13
mypy_extensions==1.1.0
namex==0.1.0
narwhals==1.44.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
nibabel==5.3.2
nids-datasets==0.1.5
nipype==1.10.0
nltk==3.9.1
nodeenv==1.9.1
notebook==7.4.3
notebook_shim==0.2.4
nsepy==0.8
numpy==2.1.3
oauthlib==3.2.2
omegaconf==2.3.0
onnxruntime==1.22.0
openai==1.97.1
openai-agents==0.2.5
openpyxl==3.1.5
opentelemetry-api==1.36.0
opentelemetry-exporter-otlp-proto-common==1.36.0
opentelemetry-exporter-otlp-proto-grpc==1.36.0
opentelemetry-exporter-otlp-proto-http==1.36.0
opentelemetry-instrumentation==0.57b0
opentelemetry-instrumentation-asgi==0.57b0
opentelemetry-instrumentation-fastapi==0.57b0
opentelemetry-proto==1.36.0
opentelemetry-sdk==1.36.0
opentelemetry-semantic-conventions==0.57b0
opentelemetry-util-http==0.57b0
opt_einsum==3.4.0
optree==0.16.0
orjson==3.10.18
ormsgpack==1.10.0
overrides==7.7.0
packaging==25.0
pandas==2.3.1
pandoc==2.4
pandocfilters==1.5.1
parso==0.8.4
pathlib==1.0.1
pathspec==0.12.1
pdfkit==1.0.0
pdfminer.six==20250506
pdfplumber==0.11.7
peewee==3.18.2
pillow==11.0.0
platformdirs==4.3.8
playwright==1.54.0
plotly==6.2.0
plumbum==1.9.0
ply==3.11
portalocker==2.7.0
posthog==3.25.0
preshed==3.0.10
primp==0.15.0
prometheus_client==0.22.1
prompt_toolkit==3.0.51
propcache==0.3.1
proto-plus==1.26.1
protobuf==5.29.5
prov==2.1.1
psutil==7.0.0
pure_eval==0.2.3
puremagic==1.30
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.5
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydeck==0.9.1
pydicom==3.0.1
pydot==4.0.0
pydub==0.25.1
pydyf==0.11.0
pyee==13.0.0
pygit2==1.18.0
Pygments==2.19.1
pygtrie==2.5.0
PyJWT==2.10.1
pypandoc==1.15
pyparsing==3.2.3
pypdf==5.9.0
PyPDF2==3.0.1
pypdfium2==4.30.0
pyphen==0.17.2
PyPika==0.48.9
pyproject_hooks==1.2.0
pyreadline3==3.5.4
pyright==1.1.403
pysbd==0.3.4
python-box==6.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-http-client==3.3.7
python-json-logger==3.3.0
python-multipart==0.0.20
pytube==15.0.0
pytz==2025.2
pyvis==0.3.2
pywin32==310
pywinpty==2.0.15
pyxnat==1.6.3
PyYAML==6.0.2
pyzmq==26.4.0
qdrant-client==1.15.1
rdflib==7.1.4
rdkit==2025.3.3
referencing==0.36.2
regex==2024.11.6
reportlab==4.4.3
requests==2.32.4
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.25.1
rsa==4.9.1
ruamel.yaml==0.18.12
ruamel.yaml.clib==0.2.12
ruff==0.12.8
safehttpx==0.1.6
safetensors==0.5.3
schema==0.7.7
scikit-learn==1.6.1
scipy==1.15.3
scmrepo==3.3.11
seaborn==0.13.2
semantic-version==2.10.0
semver==3.0.4
Send2Trash==1.8.3
sendgrid==6.12.4
sentence-transformers==4.1.0
sentry-sdk==2.29.1
setuptools==70.2.0
shellingham==1.5.4
shortuuid==1.0.13
shtab==1.7.2
simplejson==3.20.1
six==1.17.0
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.7
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.41
sqlparse==0.5.3
sqltrie==0.11.2
srsly==2.5.1
sse-starlette==3.0.2
stack-data==0.6.3
stagehand==0.5.0
starlette==0.46.2
streamlit==1.46.0
sympy==1.13.3
tabulate==0.9.0
tenacity==8.5.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==3.1.0
terminado==0.18.1
thinc==8.3.6
threadpoolctl==3.6.0
tiktoken==0.11.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tokenizers==0.20.3
toml==0.10.2
tomli==2.2.1
tomli_w==1.2.0
tomlkit==0.13.2
torch==2.7.1+cu126
torchaudio==2.7.1+cu126
torchvision==0.22.1+cu126
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
traits==7.0.2
transformers==4.52.4
typer==0.16.0
types-python-dateutil==2.9.0.20250516
types-requests==2.32.4.20250809
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2025.2
uri-template==1.3.0
uritemplate==4.2.0
urllib3==2.4.0
uv==0.8.5
uvicorn==0.35.0
vine==5.1.0
voluptuous==0.15.2
waitress==3.0.2
wasabi==1.1.3
watchdog==6.0.0
watchfiles==1.1.0
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==4.0.14
wrapt==1.17.2
wurlitzer==3.1.1
xgboost==3.0.0
xxhash==3.5.0
yarl==1.20.0
zc.lockfile==3.0.post1
zipp==3.23.0
zopfli==0.2.3.post1
zstandard==0.23.0
